@use 'variables' as *;

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -#{$spacing-4 / 2};
    margin-left: -#{$spacing-4 / 2};
}

[class*="col-"] {
    position: relative;
    width: 100%;
    padding-right: $spacing-4 / 2;
    padding-left: $spacing-4 / 2;
}

// Simple Grid System
@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

// Utilities
.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.w-100 {
    width: 100% !important;
}

.mb-3 {
    margin-bottom: $spacing-3 !important;
}

.mb-4 {
    margin-bottom: $spacing-4 !important;
}

.mt-4 {
    margin-top: $spacing-4 !important;
}

.me-2 {
    margin-right: $spacing-2 !important;
}